header {
  overflow: hidden;
}

/* overall buttons */
.btn {
  padding: 1px 6px;
  border: none;
}

.btn:hover {
  color: white;
}

.btn-outline-secondary:hover {
  color: #6c757d;
  background-color: white;
  border: none;
}
/* overall buttons */

/* navbar */
.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.navbar .btn-login {
  background-color: #4592af;
  color: white;
  padding: 0.25rem 0.75rem;
  font-weight: 300;
}

.navbar .btn-login a {
  color: white;
  text-decoration: none;
}
/* navbar */

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 250px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

/* new restaurant button */
.btn-new {
  background-color: #9b4b4b;
  color: white;
  padding: 0.25rem 0.75rem;
  font-weight: 300;
}

.btn-new a {
  color: white;
  text-decoration: none;
}
/* new restaurant button */


/* search bar */
.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}
/* search bar */


/* sort selection */
.form-select {
  width: 200px;
  height: 100%;
  color :#aaaaaa;
  font-size: 0.8rem;
  border-color: #ced4da;
  padding: 5px;
  border-radius: 0.25rem;
}

.form-select:focus {
  border:none;
}
/* sort selection */


.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-location {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.restaurant-show-title.home-title {
  font-family: 'Caveat', cursive;
  animation: fade-in 3s ease 0s 1;
  font-size: 4rem;
}

.edit, .delete {
  color: inherit;
}

.edit:hover {
  text-decoration: none;
  color: #6c757d;
}

.delete-form {
  display: inline;
  /* margin: 0; */
}

.fa-trash-alt, .fa-edit {
  font-size: 15px;
}


@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}